body{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
}
.container{
    max-width: 100%;
    width: 1200px;
    margin: 0 auto;
}


.nav{
    margin: 40px auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo{

}
.contact{
    width: 20%;
}

.contact__text{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: right;

}

.contact__text a{
    color: #020202;
    text-decoration: none;
}

.slider{
  margin: 100px auto;
  position: relative;
    z-index: 1;

}
.fix{
    position: fixed;
    top: 30%;
    right: 0;
    z-index: 3;
}

.call{
    box-sizing: border-box;
    width: 55px;
    height: 60px;
    background-color: #ce222c;
    border-radius: 5px 0 0 5px;
    margin-bottom: 20px;

}

.passive{
    padding: 0;
    text-align: center;
}

.description{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.model{
    width: 55%;
}
.description__inner{
    width: 38%;

    margin-top: 20px;
}

.description__h1{
     font-family: 'Montserrat', sans-serif;
     font-size: 22px;
     font-weight: 700;
     line-height: 1.5;
     margin-bottom: 15px;
 }
.description__h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #db0f12;
}

.description__h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.8;
    margin-bottom: 15px;


}
.property{
    margin-top: 20px;
}

.download{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 10px;
}

.btn{
    padding: 15px 48px;
    background-color: #3f6fb5;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover{
    background-color: #1d335c;
    transition: 0.5s linear;
}

.button{
    margin-top: 60px;
}

.menu{
    background-color: #3f6fb5;
}

.menu__bottom{
    width: 100%;
    height: 80px;
    background-color: #3f6fb5;
    display: flex;
    justify-content: space-around;
}

.menu__block{
    background-color: #3f6fb5;
    width: 20%;
    height: 80px;
    margin: 0 auto;
}

.menu__inner{
    width: 190px;
    margin: 30px auto;
    text-align: center;


}
.menu__inner a{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

.menu__block:hover{
    transform: translateY(-30px);
}

.catalog{
    margin: 60px auto;
}

.title{
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.catalog__inner{
    margin: 50px auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.catalog__block{
    width: 18%;

}
.catalog__block:hover{

}

.catalog__text{
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    margin: 0 auto;
    text-align: center;
}

.text__red{
    font-size: 14px;
    font-weight: 300;
    color: #ce222c;
}
.catalog__intro{
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;

    margin: 0 auto 20px;
    text-align: center;

}
.btn--white{
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    color: #020202;
    padding: 12px 35px;
    background-color: white;
    border: 1px solid #4176c2;
    border-radius: 5px;
}
.button__catalog{
    margin: 20px auto;
}
/------------Catalog-----------/
.catalog__img{
    width: 190px ;
    height: 190px;
    /*overflow: hidden;*/
    min-height:150px;
    max-height:150px;
    background: url(".images/tahog.png") no-repeat;
    background-size: contain;
    background-position: center;
}
.advantages__block{
    width: 28%;
}
.advant__image{
    margin: 0 auto;
    text-align: center;
}

.about{
    margin: 20px auto;
}
.company{
    margin: 50px auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.about__img{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.about__text{
    width: 33%;
    font-size: 14px;
    line-height: 1.5;
}

.about__block{
    width: 18%;
}
.about__name{
    font-size: 14px;
    width: 85%;
    margin: 10px 0;
}
.about__mail a{
    font-size: 13px;
    color: #4176c2;
    text-decoration: none;
}

.brand{
    margin: 40px auto;
    display: flex;
    justify-content: center;
    width: 100%;
}
.client__block{
    width: 15%;
}

.title__video{
    margin: 0 auto;
    width: 17%;
    display: flex;
    justify-content: space-between;
}
.text{
    margin: 15px auto;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}
.video__slider{
    margin: 40px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.map{
    margin: 80px 0;

}
.map__background{
    width: 100%;
    position: relative;
    z-index: 1;

}
.adress{
    width: 700px;
    height: 280px;
    background-color: white;
    position: absolute;
    top: 20%;
    right: 0;
    z-index: 2;
}

.map__adress{
    width: 480px;
    height: 200px;
    margin: 40px auto 40px 40px;

}
.title__text{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;

}
.adress__text{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
}
.footer{
    margin: 0 auto 40px;
}
.footer__inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.logo__footer{
    width: 15%
}

.footer__text{
    width: 35%
}
.footer__word{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 20px;
}
.footer__made{
    font-size: 14px;
    line-height: 1.6;
}

.footer__contact{
    margin: 30px 0;
}

.contact__footer a{
    color: #000;
    font-size: 14px;
    margin-bottom: 15px;
    text-decoration: none;


}

 .icon{
     margin-bottom: 20px;
     max-width: 133px;
     width: 100%;
     display: flex;
     justify-content: space-between;

 }
 /*.icon img{*/
 /*    margin-right: 5px;*/
 /*}*/
.block__info{
    width: 18%

}

.footer__right{
    width: 15%;
    display: flex;
    flex-direction: column;

}